<body class="meetup-edit">
<div class="meetup-edit-form">
<h1>Select Meetup Dates</h1>

<%= render 'form', meetup: @meetup %>

<%# link_to 'Show', @meetup %>
<%# link_to 'Back', meetups_path %>
</div>

</body>