<body class="available-page">
    <div class="available-start">
        <h1> INSERT ACTIVITY THINGY HERE </h1> <br>


<table class="table">
  <thead class="">
    <tr class="table-row">
      <th scope="col"></th>
      <th scope="col">6 May 2019</th>
      <th scope="col">7 May 2019</th>
      <th scope="col">8 May 2019</th>
    </tr>

<!--     <tr class="table-row">
      <th scope="col">Count</th>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
    </tr> -->

  </thead>
  <tbody>
    <tr class="table-row">
      <th scope="row">Chang</th>
      <td>⭕</td>
      <td></td>
      <td>⭕</td>
    </tr>
    <tr class="table-row">
      <th scope="row">Kai</th>
      <td></td>
      <td>⭕</td>
      <td>⭕</td>
    </tr>
    <tr class="table-row">
      <th scope="row">Brother</th>
      <td>⭕</td>
      <td></td>
      <td>⭕</td>
    </tr>
  </tbody>
</table>


<h3>The date where most people are available is...<span style ="color: #1B9AAA"> 8 May 2019 </span></h3>
    </div>


    <%# rand.to_s[2..5] %>
</body>