	<body class="index-page">
		<div class="index-start">
			<h1>Meetup Scheduler!</h1> <br>
			<button type="button" class="btn btn-lg btn-block create-btn"> <%= link_to 'CREATE', create_schedule_url %>  </button>
			<button type="button" class="btn btn-lg btn-block login-btn"><%= link_to 'LOGIN', login_schedule_url %> </button> <br>
		</div>
	</body>