// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body a {
	color: #EEF0F2 !important;
}

.index-page {
	background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/AO8NDC5UDL.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#create-form {
	display: none;
}

#login-form {
	display: none;
}

.index-start {
	max-width: 960px;
	background-color: #0F1115;
  margin: 0 auto;
  position: relative;
  top: 100px;
  padding: 16px;
  border-radius: 25px;
}

.index-start h1 {
	text-align: center;
	color: #EEF0F2;
}

.index-start button {
	color: #EEF0F2;
}

.index-page label {
	color: white;
	padding-top: 4px;
}

.create-btn {
	background-color: #1B9AAA;
	outline: 0;
}

.create-btn:hover {
	background-color: #14717C;
}

.create-btn:focus {
	background-color: #14717C;
}

.create-btn a {
	text-decoration: none;
	color: white ;
}

.login-btn {
	background-color: #E57582;
}

.login-btn:hover {
	background-color: #A7565F;
}

.login-page {
	background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/9YUWF6OT5T.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.login-start {
	max-width: 960px;
	background-color: #0F1115;
  margin: 0 auto;
  position: relative;
  top: 200px;
  padding: 16px;
  border-radius: 25px;
}

.login-page h3 {
	color: #EEF0F2;
}

.login-start h1 {
	text-align: center;
	color: #EEF0F2;
}

.login-start button {
	color: #EEF0F2;
}

.login-btn a {
	text-decoration: none;
	color: white ;
}

.create-page {
	background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/D25OZNLFI2.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.create-start {
	max-width: 960px;
	background-color: #0F1115;
  margin: 0 auto;
  position: relative;
  top: 150px;
  padding: 16px;
  border-radius: 25px;
}

.create-page h3 {
	color: #EEF0F2;
}

.create-start h1 {
	text-align: center;
	color: #EEF0F2;
}

.create-start button {
	color: #EEF0F2;
}

.available-page {
	background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/SKGNYY6PK9.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.available-start {
	max-width: 960px;
	background-color: #0F1115;
  margin: 0 auto;
  position: relative;
  top: 90px;
  padding: 16px;
  border-radius: 25px;
}

.available-page h3 {
	color: #EEF0F2;
}

.available-start h1 {
	text-align: center;
	color: #EEF0F2;
}

.available-start h3 {
	text-align: center;
	color: #EEF0F2;
}

.available-start button {
	color: #EEF0F2;
}

.table td, .table th {
	color: white		;
}

.table-row {
	text-align: center;
}

.table-row td {
	font-size: 24px;
}

.table thead {
	background-color: #E57582;
}


.meetup-edit {
	background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/SKGNYY6PK9.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.meetup-edit-form {
	background-color: #0F1115;
	max-width: 600px;
	margin: 0 auto;
	padding: 16px;
	color: #EEF0F2;
	border-radius: 25px;
}

.meetup-edit h1, .meetup-edit h3 {
	text-align: center;
}

.proposed-dates {
	text-align: center;
	// padding-top: 8px;
}

.proposed-dates a {
	text-align: center;
	color: #EEF0F2;
	font-weight: bold;
	font-size: 16px;
}

.update-date-btn {
	background-color: #E57582;
	color: #EEF0F2;
	font-weight: bold;
}

.update-date-btn:hover {
	background-color: #A7565F;
	color: #EEF0F2;
}

.meetup-show {
	background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/D25OZNLFI2.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.meetup-show-page {
	background-color: #0F1115;
	max-width: 960px;
	margin: 0 auto;
	padding: 16px;
	color: #EEF0F2;
	border-radius: 25px;
	text-align: center;
}

.meetup-show-page h1 {
	text-align: center;
	font-weight: bold;
}

.meetup-highlight {
	color: #1B9AAA;
}

.edit-date-btn {
	background-color: #E57582;
	color: #EEF0F2;
	font-weight: bold;
}

.edit-date-btn a {
	background-color: #E57582;
	color: #EEF0F2;
	font-weight: bold;
}

.edit-date-btn:hover {
	background-color: #A7565F;
	color: #EEF0F2;
}

.edit-name-btn {
	background-color: #1B9AAA;
	color: #EEF0F2;
	font-weight: bold;
}

.edit-name-btn:hover {
	background-color: #1B9AAA;
	color: #EEF0F2;
}

.btn-success {
	font-weight: bold;
}

.meetup-show-page img {
	max-width: 150px;
}

.meetup-show-page p {
	font-weight: bold;
	font-size: 16px;
}

.availables-page {
	background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/3NMQKZB5WS.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.availables-start {
	background-color: #0F1115;
	max-width: 600px;
	margin: 0 auto;
	padding: 16px;
	color: #EEF0F2;
	border-radius: 25px;
	text-align: center;
}

.check-boxes label {
	color: white;
	font-weight: bold;
}

.check-boxes input {

}