	<body class="index-page">
		<div class="index-start">
			<h1>Meetup Scheduler!</h1> <br>
			<button type="button" class="btn btn-lg btn-block create-btn"> <%= link_to 'CREATE NEW SESSION', create_session_url %>  </button>
			<button type="button" class="btn btn-lg btn-block login-btn"><%= link_to 'LOGIN EXISTING SESSION', login_session_url %> </button> <br>
		</div>
	</body>